{% extends "firstapp/base.html" %}


{% block stc %}{% load static %}{% endblock stc %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <style type="text/css">
        div.row div{
            text-align: center;
        }
    </style>
{% endblock css %}


{% block navbar %}
    <li class="nav-item"><a href="/" class="nav-link">Главная</a></li>
    <li class="nav-item"><a href="/books" class="nav-link">Книги</a></li>
    <li class="nav-item active"><a href="" class="nav-link">Авторы</a></li>

{% endblock navbar %}


{% block content %}
    {% if authors.count > 0 %}
        <h1>Каталог авторов</h1>

        <div class="row">
            {% for author in authors %}
                <div class="{% cycle "col-md-6" "col-md-6" %}">
                    <ul class="list-group">
                        <a href="/authors/{{ author.pk }}"><li>
                            {{ author }}
                        </li></a>
                    </ul>
                </div>
            {% endfor %}
        </div>


    {% else %}
        <p>К сожалению, на данный момент база знаний пуста</p>
    {% endif %}

{% endblock content %}
