{% extends "firstapp/base.html" %}

{% block stc %}
    {% load static %}
    {% load my_tags %}
{% endblock %}

{% block content %}
    <h1>Добро пожаловать в книжную базу знаний!</h1>
    <p>
        На это сайте Вы сможете найти огромное кол-во всевозможной информоции о книгах и их авторах,
        так что скорее бегите в наш <a href="/books">каталог</a>, чтобы погрузится в невероятный и захватывающий мир
        познавательной литературы!
    </p>
    <p>
        На данный момент в базе знаний содержится информация о {{ n_books }}
        <a href="/books">
        {% if n_books != 11 and n_books|mod:10 %}
                книге
            {% else %}
                книгах
            {% endif %}
        </a>

        и {{ n_authors }}
        <a href="/authors">
        {% if n_authors != 11 and n_authors|mod:10 %}
            авторе.
        {% else %}
            авторах.
        {% endif %}
        </a>
        <br>
        Дальше — больше!
    </p>
    <p>
        <i>Искренне Ваш, студент группы M3405 Симонов Кирилл Александровчич</i>
    </p>
{% endblock content %}